<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Online Community</h2>
                    <!--              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="https://twitter.com/StarbucksKorea"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/starbuckskorea"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://instagram.com/starbuckskorea/"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">최신 리뷰</h2>
                    <!--------------------------->
                    {%if not my_list2 %}
                    <div class="block-21 mb-4 d-flex">
                        <a ></a>
                        <div class="text">
                            <h3 class="heading"><a ></a></h3>
                            <div class="meta">
                                <div><a ><span class="icon-calendar"></span></a></div>
                                <div><a ><span class="icon-person"></span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a ></a>
                        <div class="text">
                            <h3 class="heading"><a ></a></h3>
                            <div class="meta">
                                <div><a ><span class="icon-calendar"></span></a></div>
                                <div><a ><span class="icon-person"></span></a></div>
                            </div>
                        </div>
                    </div>
                    {% elif my_list2|length == 1 %}
                    {%for r,u,h in my_list2%}
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/static/images/{{h.category}}/{{h.cd}}.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="order/{{h.cd}}/detail?kind={{h.category}}">{{r.comment}}</a></h3>
                            <div class="meta">
                                <div><a ><span class="icon-calendar"></span>{{r.create_date|date:"Y-m-d"}}</a></div>
                                <div><a ><span class="icon-person"></span>{{u.user_id}}</a></div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                    <div class="block-21 mb-4 d-flex">
                        <a ></a>
                        <div class="text">
                            <h3 class="heading"><a ></a></h3>
                            <div class="meta">
                                <div><a ><span class="icon-calendar"></span></a></div>
                                <div><a ><span class="icon-person"></span></a></div>
                            </div>
                        </div>
                    </div>
                    {%else%}
                    {%for r,u,h in my_list2%}
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/static/images/{{h.category}}/{{h.cd}}.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="order/{{h.cd}}/detail?kind={{h.category}}">{{r.comment}}</a></h3>
                            <div class="meta">
                                <div><a ><span class="icon-calendar"></span>{{r.create_date|date:"Y-m-d"}}</a></div>
                                <div><a ><span class="icon-person"></span>{{u.user_id}}</a></div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                    {%endif%}
                </div>
            </div>
            <!-----------댓글끝------------->
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">서울특별시 중구 퇴계로 100 9F (04631)</span></li>
                            <li><span class="icon icon-phone"></span><span class="text">+82 1522 3232</span></li>
                            <!--	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    &copy;<script>document.write(new Date().getFullYear());</script> Starbucks Coffee Company.
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
